/* Navbar.css or your preferred filename */

nav {
    background-color: #000000d8; /* Dark background color for the navbar */
    padding: 10px 20px; /* Add some padding to the navbar */
    box-shadow: 0 4px 6px rgba(237, 0, 150, 0.943); /* Add a subtle shadow to the navbar */
    flex: 0 0 auto; /* Make sure the navbar does not grow or shrink */
  }
  
  ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
  }
  
  li:last-child {
    margin-right: 0; /* Remove margin for the last list item */
  }
  
  a {
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* White text color for links */
    font-weight: bold; /* Bold font for links */
  }
  
  a:hover {
    color: #17a2b8; /* Light blue text color on hover */
  }
  